@charset "utf-8";
/* CSS Document */

.head{ height:10rem; background: url(../images/head_bg.png) no-repeat center center; position: relative}
.head h1{ color:#fff; text-align: center; font-size:42px; line-height:90px;;}
.head h1 img{ width:1.5rem; display: inline-block; vertical-align: middle; margin-right: .2rem}

body { color:#000d4a; background-image: url(../images/bg.jpg);font-family: "微软雅黑"}


ul  {width: 15rem;column-width: 150px;list-style: none;margin: 30px;}


.y {width: 10rem;background-color: #000d4a;color: #fff;font-size: 1.2rem;position: relative;
    left: -24px;

  }

.y:hover{
    width: 15rem
}

#chart {border-left: 2px solid #fff;padding: .5em;}

#data_id{
    border-bottom:  2px solid #fff;
}

#sign{
    border-bottom:  2px solid #fff;
    border-top:  2px solid #fff;
    display:flex;
    justify-content:center;
    align-items:center;
}

#new{
    margin:auto;
    
}



.fuck, .fuckall{
    /* border:2px solid #fff; */
    width: 150px;
    /* display: flex; */
    font-size: 20px;
    color: #fff;

} 





#download, #upload{
    display:inline-blcok;
    background: #944dff;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    /* text-shadow: 3px 2px 1px #9daef5; */
    padding: 19px;
    margin: 30px;
  }

a, #upload-button{
    background-color: rgba(0,0,0,0);
    border: 0;
    margin: 0;
    padding: 0;
    /* -webkit-box-shadow: 6px 5px 24px #666666; */
    /* -moz-box-shadow: 6px 5px 24px #666666; */
    /* box-shadow: 6px 5px 24px #666666; */
    font-family: Arial;
    color: #fafafa;
    font-size: 27px;
    text-decoration: none;
    font-weight: normal;
}
/* 
a:hover, #upload-button:hover{
    font-size: 35px;
} */