@charset "utf-8";
/* CSS Document */

.head{ height:10rem; background: url(../images/head_bg.png) no-repeat center center; position: relative}

.head h1{ color:#fff; text-align: center; font-size:42px; line-height:90px;;}
.head h1 img{ width:1.5rem; display: inline-block; vertical-align: middle; margin-right: .2rem}

body { color:#000d4a; 
    background-image: url(../images/bg.jpg);
    font-family: "微软雅黑";
}

#download {
    display:blcok ;
    float: left;
}

#upload-button{float: right;}


ul li {
    border: #fff;
    width: 20rem;
    column-width: 200px;
}

#download, #upload-button{
    
    background: #944dff;

    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    /* text-shadow: 3px 2px 1px #9daef5; */
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: #fafafa;
    font-size: 27px;
    padding: 19px;
    text-decoration: none;
    margin: 10px;
  }

.mainbox {
    padding: 10px 20px 0px 20px;
}

/* yawing 按钮 */
#yawing { 
    height: 4rem;
    
}
.y {
    height: 4rem;
    width: 20rem;
    float: center;
    background-color: #000d4a;
    color: #fff;
    font-size: 1.5rem;

}



/* 上传下载 按钮 */
.data {
    float: left;
}

#chart {
    border: 2px solid #000d4a;
    padding: .5em;
    float:right;
    height: 90rem;
    width: 120rem;
}

